<div class="section frontpage-open1 bg-white" id="open">
    <div class="container">
        <h2 class="block-title wow zoomIn">Contact Us</h2>
        <div class="wow fadeIn">
            <p class="text-center">On the left, we placed contact form.</p>
            <p class="text-center">On the left, we embedded the Google Maps code and wrapped it with <code>&lt;div class="map"&gt;&lt;/div&gt;</code></p>
            <p>&nbsp;</p>
            <div class="row">
                <div class="col-md-7">
                    <h4>Directions</h4>
                    <div class="map">
                        <div class="googlemaps">
                            <iframe width="600" height="375" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3463.7041933046044!2d-95.35770718459221!3d29.757273039035468!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640bf26db794291:0x81457f66271a17e1!2sMinute Maid Park!5e0!3m2!1sen!2sus!4v1470766063041"></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <h4>Email</h4>
                    <div role="form" class="wpcf7" id="wpcf7-f400-o1" lang="en-US" dir="ltr">
                        <div class="screen-reader-response"></div>
                        <form action="#" method="post" class="wpcf7-form" novalidate="novalidate">
                            <div style="display: none;">
                                <input type="hidden" name="_wpcf7" value="400" />
                                <input type="hidden" name="_wpcf7_version" value="4.5.1" />
                                <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f400-o1" />
                                <input type="hidden" name="_wpnonce" value="3dee91dd9d" />
                            </div>
                            <div class="form-group"><span class="wpcf7-form-control-wrap full-name"><input type="text" name="full-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Full Name" /></span></div>
                            <div class="form-group"><span class="wpcf7-form-control-wrap email"><input type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control" aria-required="true" aria-invalid="false" placeholder="Email Address" /></span></div>
                            <div class="form-group"><span class="wpcf7-form-control-wrap message"><textarea name="message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea form-control" aria-invalid="false" placeholder="Message"></textarea></span></div>
                            <div class="form-action"><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit btn btn-primary-custom btn-block btn-lg" /></div>
                            <div class="wpcf7-response-output wpcf7-display-none"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
