<div class="shadow"></div>
<div class="section frontpage-cta parallax-bg" data-parallax="scroll" data-image-src="{{ 'assets/images/samples/station-enhanced-2.jpg' | theme }}" id="cta">
    <div class="container wow zoomIn description">
        <div class="description">
            <h2>WITH VEGA IMAGINATION IS YOUR <em>ONLY</em> LIMIT!</h2>
            <p class="small">
                Vega is a <strong><em>free</em></strong>, multipurpose, easy to use theme. It comes with<br />
                <strong><em>awesome</em></strong> animation effects and clean code.
            </p>
            <p>&nbsp;</p>
            <p>
                <a class="btn btn-primary-custom btn-margin-top btn-margin-bottom" href="http://octobercms.com/theme/vojtasvoboda-vega">Theme homepage</a>
            </p>
            <p>&nbsp;</p>
            {% content 'cta/content' %}
        </div>
    </div>
</div>
