<div class="shadow"></div>
<div class="section frontpage-cta parallax-bg" data-parallax="scroll" data-image-src="{{ 'assets/images/samples/rural-enhanced-1.jpg' | theme }}" id="cta2">
    <div class="container wow zoomIn">
        <div class="description">
            <p>
                <h2>Upgrade to Pro for <br />some <em>amazing</em> features!</h2>
                <p>&nbsp;</p>
                <p><a href="#" target="_blank" class="btn btn-primary-custom btn-margin-top"><strong>Upgrade to Pro</strong></a></p>
                <p>&nbsp;</p>
                {% content 'cta2/content' %}
            </p>
        </div>
    </div>
</div>
