<div class="section frontpage-recent-posts bg-white" id="latest">
    <div class="container">

        <h2 class="block-title wow bounceIn">Latest Posts</h2>

        <div class="row">
            <div class="col-md-4 col-sm-4 wow zoomIn">
                <div class="post-grid recent-entry">
                    <div class="recent-entry-image image">
                        <a class="post-thumbnail post-thumbnail-recent" href="#">
                            <img width="350" height="220" src="{{ 'assets/images/samples/girl-1031772_1920-1-350x220.jpg' | theme }}" class="img-responsive wp-post-image" alt="The best free multipurpose theme just got better!" />
                        </a>
                        <div class="caption">
                            <div class="caption-inner">
                                <a href="#" class="icon-link white"><i class="fa fa-link"></i></a>
                            </div>
                            <div class="helper"></div>
                        </div>
                    </div>

                    <!-- Post Title -->
                    <h4 class="recent-entry-title">
                        <a href="#">The best free multipurpose theme just got better!</a>
                    </h4>
                    <!-- /Post Title -->

                    <div class="recent-entry-content">
                        <p>Duis tempus condimentum cursus. Proin posuere et dui nec posuere. Ut tempus odio sit amet ligula bibendum egestas. Ut imperdiet mi id elit fermentum aliquet. Sed vitae eros a mi pulvinar blandit. Fusce at hendrerit dolor, et hendrerit arcu.</p>
                    </div>

                    <!-- Post Meta -->
                    <div class="recent-entry-meta">
                        Posted: Feb 16, 2016<br />Under: <a href="#" rel="category tag">Sample Posts</a>, <a href="#" rel="category tag">Uncategorized</a>
                    </div>
                    <!-- /Post Meta -->
                </div>
            </div>
            <div class="col-md-4 col-sm-4 wow zoomIn">
                <div class="post-grid recent-entry">
                    <div class="recent-entry-image image">
                        <a class="post-thumbnail post-thumbnail-recent" href="#">
                            <img width="350" height="220" src="{{ 'assets/images/samples/golden-gate-bridge-350x220.jpg' | theme }}" class="img-responsive wp-post-image" alt="Built-in multiple color schemes" />
                        </a>
                        <div class="caption">
                            <div class="caption-inner">
                                <a href="#" class="icon-link white"><i class="fa fa-link"></i></a>
                            </div>
                            <div class="helper"></div>
                        </div>
                    </div>

                    <!-- Post Title -->
                    <h4 class="recent-entry-title">
                        <a href="#">Built-in multiple color schemes</a>
                    </h4>
                    <!-- /Post Title -->

                    <div class="recent-entry-content">
                        <p>Duis tempus condimentum cursus. Proin posuere et dui nec posuere. Ut tempus odio sit amet ligula bibendum egestas. Ut imperdiet mi id elit fermentum aliquet. Sed vitae eros a mi pulvinar blandit. Fusce at hendrerit dolor, et hendrerit arcu.</p>
                    </div>

                    <!-- Post Meta -->
                    <div class="recent-entry-meta">
                        Posted: Feb 16, 2016<br />Under: <a href="#" rel="category tag">Sample Posts</a>, <a href="#" rel="category tag">Uncategorized</a>
                    </div>
                    <!-- /Post Meta -->
                </div>
            </div>
            <div class="col-md-4 col-sm-4 wow zoomIn">
                <div class="post-grid recent-entry">
                    <div class="recent-entry-image image">
                        <a class="post-thumbnail post-thumbnail-recent" href="#">
                            <img width="350" height="220" src="{{ 'assets/images/samples/office-computer-350x220.jpg' | theme }}" class="img-responsive wp-post-image" alt="Premium one-on-one support." />
                        </a>
                        <div class="caption">
                            <div class="caption-inner">
                                <a href="#" class="icon-link white"><i class="fa fa-link"></i></a>
                            </div>
                            <div class="helper"></div>
                        </div>
                    </div>

                    <!-- Post Title -->
                    <h4 class="recent-entry-title">
                        <a href="#">Premium one-on-one support.</a>
                    </h4>
                    <!-- /Post Title -->

                    <div class="recent-entry-content">
                        <p>Duis tempus condimentum cursus. Proin posuere et dui nec posuere. Ut tempus odio sit amet ligula bibendum egestas. Ut imperdiet mi id elit fermentum aliquet. Sed vitae eros a mi pulvinar blandit. Fusce at hendrerit dolor, et hendrerit arcu.</p>
                    </div>

                    <!-- Post Meta -->
                    <div class="recent-entry-meta">
                        Posted: Feb 16, 2016<br />Under: <a href="#" rel="category tag">Sample Posts</a>, <a href="#" rel="category tag">Uncategorized</a>
                    </div>
                    <!-- /Post Meta -->
                </div>
            </div>
        </div>
    </div>
</div>
