<div class="footer">
    <div class="container">
        <div class="row">

            <!-- Navigation -->
            <div class="col-md-8">
                <ul id="menu-footer" class="nav-foot">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                        <a href="#">Contact</a>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                        <a href="#">Terms</a>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                        <a href="#">Privacy</a>
                    </li>
                </ul>
            </div>

            <!-- Copyright and Credits -->
            <div class="col-md-4">
                <div class="copyright">
                    Copyright 2016<br />
                    Vega Theme for <a target="_blank" href="https://www.octobercms.com">OctoberCMS</a>
                </div>
            </div>

        </div>
    </div>
</div>
