<div class="footer-widgets bg-footer">
    <div class="container">
        <div class="row">

            <!-- Footer Col 1 -->
            <div class="col-md-3 footer-widget footer-widget-col-1 wow">
                <div id="text-2" class="widget widget_text">
                    <h3 class="widget-title">About Vega Lite</h3>
                    <div class="textwidget">
                        {% content 'footer/about.txt' %}
                        <br /><br />
                        <a href="#" class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="btn btn-social-icon btn-flickr"><i class="fa fa-flickr"></i></a>
                        <a href="#" class="btn btn-social-icon btn-google"><i class="fa fa-google"></i></a>
                    </div>
                </div>
            </div>
            <!-- /Footer Col 1 -->

            <!-- Footer Col 2 -->
            <div class="col-md-3 footer-widget footer-widget-col-2 wow">
                <div id="categories-3" class="widget widget_categories">
                    <h3 class="widget-title">Categories</h3>
                    <ul>
                        <li class="cat-item cat-item-6"><a href="#">Sample Posts</a></li>
                        <li class="cat-item cat-item-1"><a href="#">Uncategorized</a></li>
                    </ul>
                </div>
            </div>
            <!-- /Footer Col 2 -->

            <!-- Footer Col 3 -->
            <div class="col-md-3 footer-widget footer-widget-col-3 wow">
                <div id="text-3" class="widget widget_text">
                    <h3 class="widget-title">Contact us</h3>
                    <div class="textwidget">
                        <ul class="icon-list">
                            <li><i class="fa fa-home"></i>1234 Main St, City, ST</li>
                            <li><i class="fa fa-headphones"></i>+1(123) 456 7890</li>
                            <li><i class="fa fa-paper-plane"></i>info@octobercms.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /Footer Col 3 -->

            <!-- Footer Col 4 -->
            <div class="col-md-3 footer-widget footer-widget-col-4 wow">
                <div id="facebook-likebox-1" class="widget widget_facebook_likebox">
                    <h3 class="widget-title">
                        <a href="https://www.facebook.com/facebook">Like Us</a>
                    </h3>
                    <div id="fb-root"></div>
                    <div class="fb-page" data-href="https://www.facebook.com/facebook" data-width="340" data-height="130" data-hide-cover="false" data-show-facepile="false" data-show-posts="false">
                        <div class="fb-xfbml-parse-ignore">
                            <blockquote cite="https://www.facebook.com/facebook">
                                <a href="https://www.facebook.com/facebook">Like Us</a>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Footer Col 4 -->

        </div>
    </div>
</div>
