<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 header-left">
                <ul id="menu-top-left" class="top-menu">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                        <a href="mailto:info@octobercms.com">info@octobercms.com</a>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                        <a href="tel:123-123-1234">123-123-1234</a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-6 header-right">
                <ul id="menu-top-right" class="social-menu top-menu">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                        <a href="http://www.facebook.com">Facebook</a>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                        <a href="http://www.twitter.com">Twitter</a>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                        <a href="http://www.instagram.com">Instagram</a>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                        <a href="http://www.linkedin.com">LinkedIn</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="header-toggle"><i class="fa fa-angle-down"></i></div>
