<div class="nav-wrapper">
    <div class="navbar navbar-custom" role="navigation">
        <div class="container">
            <!-- Logo -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-bars"></i></button>
                <a class="navbar-brand text-logo" href="{{ url('/') }}">{{ this.theme.site_title }}</a>
            </div>
            <!-- /Logo -->

            <!-- Navigation -->
            <div class="navbar-collapse collapse">
                <ul id="menu-header" class="nav navbar-nav navbar-right menu-header">
                    <li class="page-scroll menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item active">
                        <a title="Home" href="#intro">Home</a>
                    </li>
                    <li class="page-scroll hidden-sm hidden-md menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item active">
                        <a title="Action" href="#welcome">Action</a>
                    </li>
                    <li class="page-scroll hidden-sm hidden-md menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item active">
                        <a title="Featured" href="#4cols">Featured</a>
                    </li>
                    <li class="page-scroll hidden-sm hidden-md menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item active">
                        <a title="Latest Posts" href="#latest">Latest Posts</a>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown">
                        <a title="Features" href="#" data-toggle="dropdown" class="dropdown-toggle">Pages <b class="fa fa-angle-down"></b></a>
                        <ul role="menu" class=" dropdown-menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a title="Page - Normal" href="{{ 'samples/page-normal' | page }}">Page &#8211; Normal</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a title="Page - Full Width" href="{{ 'samples/page-with-title' | page }}">Page &#8211; With title</a>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                <a title="Page - With Sidebar" href="{{ 'samples/page-with-sidebar' | page }}">Page &#8211; With Sidebar</a>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                <a title="Page - With Sidebar and title" href="{{ 'samples/page-with-sidebar-and-title' | page }}">Page &#8211; With Sidebar and title</a>
                            </li>
                            <li class="divider menu-item menu-item-type-custom menu-item-object-custom">
                                <a title="---" href="#">&#8212;</a>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown">
                                <a title="Navigation Level 3" href="#">Navigation Level 3</a>
                                <ul role="menu" class=" dropdown-menu">
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                        <a title="Level 3" href="#">Level 3</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="divider menu-item menu-item-type-custom menu-item-object-custom">
                                <a title="---" href="#">&#8212;</a>
                            </li>
                            <li class="qtranxs-lang-menu qtranxs-lang-menu-en menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown">
                                <a title="English" href="#"><span class="glyphicon English"></span>&nbsp;Language:&nbsp;<img src="{{ 'assets/images/flags/gb.png' | theme }}" alt="English" /></a>
                                <ul role="menu" class=" dropdown-menu">
                                    <li class="qtranxs-lang-menu-item qtranxs-lang-menu-item-en menu-item menu-item-type-custom menu-item-object-custom">
                                        <a title="English" href="{{ baseUrl }}/en/"><span class="glyphicon English"></span>&nbsp;<img src="{{ 'assets/images/flags/gb.png' | theme }}" alt="English" />&nbsp;English</a>
                                    </li>
                                    <li class="qtranxs-lang-menu-item qtranxs-lang-menu-item-de menu-item menu-item-type-custom menu-item-object-custom">
                                        <a title="Deutsch" href="{{ baseUrl }}/de/"><span class="glyphicon Deutsch"></span>&nbsp;<img src="{{ 'assets/images/flags/de.png' | theme }}" alt="Deutsch" />&nbsp;Deutsch</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown">
                        <a title="Blog Layouts" href="#" data-toggle="dropdown" class="dropdown-toggle">Blog <b class="fa fa-angle-down"></b></a>
                        <ul role="menu" class=" dropdown-menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                <a title="Blog Layout - Full Posts" href="{{ 'samples/blog-listing-full' | page }}">Blog Layout &#8211; Full Posts</a>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                <a title="Blog Layout - Small Image and Excerpt" href="{{ 'samples/blog-listing-normal' | page }}">Blog Layout &#8211; Small Image and Excerpt</a>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                <a title="Blog Layout - Excerpts Only" href="{{ 'samples/blog-listing-reduced' | page }}">Blog Layout &#8211; Excerpts Only</a>
                            </li>
                            <li class="divider menu-item menu-item-type-custom menu-item-object-custom">
                                <a title="---" href="#">&#8212;</a>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                <a title="Post - Full Width" href="{{ 'samples/blog-detail' | page }}">Post &#8211; Full Width</a>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                <a title="Post - With Sidebar" href="{{ 'samples/blog-detail-with-sidebar' | page }}">Post &#8211; With Sidebar</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page">
                        <a title="Shop" href="{{ 'samples/eshop' | page }}">Shop</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page">
                        <a title="Winter Blog" href="{{ 'winter-blog' | page }}">Winter Blog</a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>