<div class="sidebar-widgets">
    <div id="search-3" class="widget widget_search">
        <h3 class="widget-title">Search</h3>
        <form role="search" method="get" class="search-form" action="/">
            <input type="search" class="search-field form-control" placeholder="Search..." value="" name="s" title="Search for:"  />
            <button class="btn btn-primary-custom" name="submit" type="submit">
                <i class="glyphicon glyphicon-arrow-right"></i>
            </button>
        </form>
    </div>
    <div id="image-1" class="widget widget_image">
        <h3 class="widget-title">About Me</h3>
        <div class="jetpack-image-container">
            <figure style="width: 1280px" class="wp-caption alignnone">
                <a href="#">
                    <img src="{{ 'assets/images/samples/woman-570883_640.jpg' | theme }}" width="1280" height="960" />
                </a>
                <figcaption class="wp-caption-text">Vega is a light, clean, and minimal blog and business theme.</figcaption>
            </figure>
        </div>
    </div>
    <div id="recent-posts-3" class="widget widget_recent_entries">
        <h3 class="widget-title">Recent Posts</h3>
        <ul>
            <li>
                <a href="#">The best free multipurpose WordPress theme just got better!</a>
            </li>
            <li>
                <a href="#">Built-in multiple color schemes</a>
            </li>
            <li>
                <a href="#">Premium one-on-one support.</a>
            </li>
            <li>
                <a href="#">Sunset Photos</a>
            </li>
            <li>
                <a href="#">Path through the Forest</a>
            </li>
        </ul>
    </div>
    <div class="widget widget_tag_cloud">
        <h3 class="widget-title">Tags</h3>
        <div class="tagcloud">
            <a href='#' class='tag-link-7 tag-link-position-1' title='2 topics' style='font-size: 8pt;'>animal</a>
            <a href='#' class='tag-link-30 tag-link-position-2' title='2 topics' style='font-size: 8pt;'>flower</a>
            <a href='#' class='tag-link-31 tag-link-position-3' title='2 topics' style='font-size: 8pt;'>forest</a>
            <a href='#' class='tag-link-43 tag-link-position-4' title='2 topics' style='font-size: 8pt;'>nature</a>
            <a href='#' class='tag-link-44 tag-link-position-5' title='2 topics' style='font-size: 8pt;'>ocean</a>
            <a href='#' class='tag-link-50 tag-link-position-6' title='2 topics' style='font-size: 8pt;'>sample post</a>
            <a href='#' class='tag-link-66 tag-link-position-7' title='2 topics' style='font-size: 8pt;'>water</a>
        </div>
    </div>
    <style type="text/css">
        .qtranxs_widget ul { margin: 0; }
        .qtranxs_widget ul li
        {
            display: inline; /* horizontal list, use "list-item" or other appropriate value for vertical list */
            list-style-type: none; /* use "initial" or other to enable bullets */
            margin: 0 5px 0 0; /* adjust spacing between items */
            opacity: 0.5;
            -o-transition: 1s ease opacity;
            -moz-transition: 1s ease opacity;
            -webkit-transition: 1s ease opacity;
            transition: 1s ease opacity;
        }
        .qtranxs_widget ul li.active { opacity: 0.8; }
        .qtranxs_widget ul li:hover { opacity: 1; }
        .qtranxs_widget img { box-shadow: none; vertical-align: middle; display: initial; }
        .qtranxs_flag span { display:none; }
    </style>
    <div class="widget qtranxs_widget">
        <h3 class="widget-title">Language:</h3>
        <ul class="language-chooser language-chooser-image qtranxs_language_chooser" id="qtranslate-1-chooser">
            <li class="lang-en active">
                <a href="#" hreflang="en" title="English (en)" class="qtranxs_image qtranxs_image_en">
                    <img src="{{ 'assets/images/flags/gb.png' | theme }}" alt="English (en)" />
                    <span style="display:none">English</span>
                </a>
            </li>
            <li class="lang-de">
                <a href="#" hreflang="de" title="Deutsch (de)" class="qtranxs_image qtranxs_image_de">
                    <img src="{{ 'assets/images/flags/de.png' | theme }}" alt="Deutsch (de)" />
                    <span style="display:none">Deutsch</span>
                </a>
            </li>
        </ul>
        <div class="qtranxs_widget_end"></div>
    </div>
</div>
